@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  /* background: #EEEEEE; */
  color : #393E46;
}

.container__all{
  position: relative;
}

#sidebar{
  position: absolute;
  cursor: pointer;
  display: none;
}

.navbar{
  display: flex;
  justify-content: space-between;
  padding: 4px 8px;
  position: relative;
}

.logo img{
  width: 150px;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
}

.navbar ul li{
  position: relative;
}

.navbar ul li ul{
  position: absolute;
  background: #EEEEEE;
  top: 35px;
  left: 0;
  border-radius: 4px;
  padding: 8px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  display: block;
  min-width: 100%;
  z-index: 2;
}

.sidebar__container{
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  background-color:  black;
  width: 0px;
  transition: 0.5s width ease-out;
  z-index: 2;
  overflow: hidden;
}

.sidebar__container.active{
  width: 300px;
}
.cross{
  text-align: right;
  padding: 16px;
  color : white;
  font-size: 20px;
  cursor: pointer;
}


.nav__item {
  color : white;
  margin-left: 16px;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  cursor: pointer;
}

.nav__item p{
  color : white;
  text-decoration: none;
  margin-right: 8px;
}

.nav__item__drop{
  margin-left: 64px;
  max-height: 0;
  overflow: hidden;
  transition: 0.5s;
}

.nav__item__drop a{
  color : white;
  display: block;
  text-decoration: none;
  margin-bottom: 8px;
}

.navbar ul li:hover ul{
  opacity: 1;
  visibility: visible;
}

.navbar li {
  list-style: none;
  margin: 8px;
}


.otherOptions a{
  display: block;
  color : white;
  text-decoration: none;
  margin-left: 16px;
  margin-bottom: 8px;
}

.navbar .middle{
  width: 45%;
}

.navbar .middle a{
  text-transform: uppercase;
  letter-spacing: 1px;
  color : #222831;
  font-size: 14px;
  text-decoration: none;
  font-weight: 400;
  transition: 0.5s;
}

.navbar .right a{
  font-size: 12px;
  text-decoration: none;
  color : #222831;
}


.hero__section{
  padding: 64px;
  background-image: url("https://bitsbox.com/img/banner-bitsbox-hallway.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  text-align: right;
  animation: fadeIn 2.2s;
}

.hero__section p{
  margin-top: 128px;
  font-size: 48px;
  font-weight: 300;
  margin-left: auto;
  color : white;
  /* text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000; */

}

.hero__section p b{
  text-align: right;
  color : black;
  transition: 0.3s color ease-in;
}

.hero__section p:hover b {
  color : #00ADB5;
}

.hero__section a{
  display: block;
  margin-right: 16px;
  padding: 16px 32px;
  border-radius: 8px;
  background: #222831;
  color : white;
  text-decoration: none;
  width: 20%;
  text-align: center;
  margin-left: auto;
  margin-top: 32px;
  transition: 0.3s transform ease-in;
}

.hero__section a:hover{
  transform: translateY(-10px);

}

.signup {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  background: #393E46;
  color : #EEEEEE;
}

.signup h1{
  font-size: 18px;
}
.signup p{
  margin: 16px;
}

.signup input{
  padding: 8px;
  border : 0;
  outline: 0;
  border-radius: 8px;
  background-color: #EEEEEE;
  margin-right: 16px;
}

.signup a{
  display: inline-block;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #EEEEEE;
  color : #00ADB5;
  text-decoration: none;
  transition: 0.5s;
  font-weight: bold;
}

.signup a:hover{
  background: #00ADB5;
  color :#EEEEEE;
  transition: 0.5s
}

.description{
  text-align: center;
  width: 75%;
  margin: auto;
  margin-top: 64px;
  background: #EEEEEE;
  padding: 64px;
  border-radius: 8px;
}

.description .summary{
  font-size: 20px;
  margin-top: 16px;
}

.description img {
  width: 50%;
  margin-top: 32px;
  transition: 0.5s;
}

.description img:hover{
  width: 52%;
}

.signup__button{
  font-weight: bold;
  padding: 16px;
  border-radius: 8px;
  text-decoration: none;
  background: #00ADB5;
  color : #EEEEEE;
  display: inline-block;
  margin-top: 16px;
  border : 1px solid #00ADB5;
  transition: 0.2s ease-in;
}

.signup__button:hover{
  color : #00ADB5;
  background-color: #EEEEEE;
  border : 1px solid #00ADB5;
}

.nutshell{
  background:  #00ADB5;
  padding: 64px;
  text-align: center;
  color : white;
  margin-top: 32px;
}

.nutshell h2{
  font-size: 40px;
  margin-bottom: 16px;
}

.nutshell .videos{
  display: flex;
  justify-content: center;
  font-size: 16px;
}


.nutshell .videos .left__video{
  margin-right: 64px;
}

.nutshell .video iframe {
  width: 300px;
  height: 300px;
}

.nutshell .where{
  font-size: 14px;
  margin-top: 16px;
}

.convince__box{
  padding: 64px;
  text-align: center;
  color : #393E46;
}

.convince__box h2{
  font-size: 40px;
  margin-bottom: 16px;
}

.convince__box h2:hover{
  animation: 1s blink;
}


.convince__box .images{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
  margin: auto;
  grid-gap: 16px;
  margin-top: 64px;
}

.convince__box .images img{
  width: 200px;
  transition: 0.5s;
  margin-bottom: 48px;
}

.convince__box .images img:hover{
  width: 225px;
  animation: rotate 1s;
}
.convince__box .note{
  margin-top: 32px;
}


.testimonial{
  margin-top: 64px;
  text-align: center;
  padding: 64px 20%;
  background: #393E46;
  color : #EEEEEE;
}

.testimonial a{
  display: inline-block;
  padding: 16px;
  border-radius: 8px;
  margin-top: 32px;
  color : white;
  background: #222831;
  border: 1px solid #222831;
  text-decoration: none;
  transition: 0.5s;
}

.testimonial a:hover{
  background: white;
  color : #222831;
  transform: translateY(-5px);
}

.how__it__works{
  margin: auto;
  width: 90%;
  background: #EEEEEE;
  padding: 64px;
  border-radius: 8px;
  margin-top: 64px;
  text-align: center;
}

.how__it__works h2 {
    color : #00ADB5;
    font-size: 32px;
}

.how__it__works .details{
  display: grid;
  grid-template-columns: repeat(3 , minmax(0,1fr));
  grid-gap: 32px;
}

.how__it__works img{
  width: 100%;
  margin-bottom: 32px;
}

.details h2{
  color : #00ADB5;
}

.details p b{
  color : #00ADB5;
}

.example__games{
  text-align: center;
  margin-top: 64px;
}


.sample__games__img{
  width: 75%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6, minmax(0,1fr));
  margin-top: 32px;
}

.sample__games__img .container{
  padding: 8px;
}

.sample__games__img img{
  width: 100%;
  border-radius: 8px;
  box-shadow: 2px 2px 4px 4px rgba(0,0,0,0.15);
  transition: 0.3s ease-in;
}

.sample__games__img img:hover{
  box-shadow: 2px 2px 8px 8px rgba(0,0,0,0.3);
  transform: translateY(-5px);
}

.ltc__bb__way{
  background-color: #222831;
  text-align: center;
  padding: 64px;
  color : #EEEEEE;
}

.ltc__bb__way> h2{
  font-size: 40px;
}

.ltc__bb__way .gridd{
  display: grid;
  grid-template-columns: repeat(3 ,minmax(0,1fr));
  grid-gap: 8px;
  margin-bottom: 32px;
  margin-top: 32px;
}

.ltc__bb__way .gridd img{
  width: 40%;
}

.ltc__bb__way img:hover{
  animation: 1s blink;
}

.ltc__bb__way .gridd h2{
  font-weight: 400;
}

.ltc__bb__way .gridd p{
  padding: 16px;
}

.footer{
  background: #00ADB5;
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  padding: 32px 10%;
  color : white;
}


.footer .icons a{
  font-size: 20px;
}

.footer .icons i{
  font-size: 32px;
  margin-right: 8px;
}


.footer .inputs{
  margin-top: 16px;
  margin-bottom: 16px;
}

.footer a{
  color:white;
  margin-top: 16px;
  display: inline-block;
  text-decoration: none;
}

.footer input{
  padding: 8px;
  border: 0;
  outline: 0;
  margin-right: 8px;
  border-radius: 4px;
}

.footer .inputs a{
  color : white;
  padding: 8px 16px ;
  border-radius: 8px;
  text-decoration: none;
  background: #393E46;
  border: 1px solid #393E46;
  transition: 0.5s;
}

.footer .inputs a:hover{
  color : #393E46;;
  background: white;
}

.footer .left__side{
  margin-right: 32px;
}

.footer .right__side{
  display: flex;
  justify-content: space-between;
}

.footer .right__side > div{
  margin-right: 32px;
  margin-bottom: 16px;
}

.footer .right__side li{
  list-style: none;
}

.footer .right__side a{
  font-weight: 400;
}

.footer .right__side a:hover{
  font-weight: 600;
}


@keyframes fadeIn {
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

@keyframes blink {
  0%{
    opacity: 1;
  }

  50%{
    opacity: 0.1;
  }
  100%{
    opacity: 1;
  }
}

@keyframes rotate {
  /* 50%{
    transform: rotateZ()(180deg);

  } */
  100%{
    transform: rotateZ(360deg);

  }
}


@media (max-width : 1256px) {
  .navbar .middle{
    width: 60%;
  }
}

@media (max-width : 1126px) {
  .hero__section a{
    width: 30%;
  }
}

@media (max-width : 1089px) {
  .hero__section p{
    margin-left: 0;
    text-align: left;
    margin-top: 150px;
  }
  .hero__section a{
    margin-left: 0;
  }

  .footer .right__side{
    flex-wrap: wrap;
  }
}

@media (max-width : 1020px) {
  .footer{
    grid-template-columns: 1fr;
  }

  .footer .left__side {
    margin-bottom: 32px;
  }
}

@media (max-width : 950px) {

  .description{
    width: 85%;
  }

  .convince__box .images{
    width: 95%;
  }

  .sample__games__img {
    width: 85%;
  }

  .ltc__bb__way{
    padding: 32px;
  }

  .navbar .middle {
    display: none;
  }

  .navbar .right{
    display: none;
  }

  .navbar{
    justify-content: center;
  }

  #sidebar{
    display: block;
    left: 20px;
    top : 15px;
  }
}




@media (max-width : 850px) {
  .how__it__works{
    width: 95%;
  }

  .testimonial {
    padding: 64px 10%;
  }
}

@media (max-width : 795px) {
  .hero__section a{
    width: 40%;
  }

  .convince__box {
    width: 98%;
  }

  .sample__games__img {
    width: 95%;
    grid-template-columns: repeat(4, minmax(0,1fr));
  }

  .how__it__works .details{
    grid-template-columns: 1fr;
  }

  .how__it__works img{
    width: 75%;
  }
}

@media (max-width : 767px) {
    .convince__box .images{
      grid-template-columns: 1fr;
    }

    .how__it__works{
      width: 85%;
    }
    .signup{
      flex-direction: column;
    }
    .signup input{
      margin-bottom: 16px;
    }

}

@media (max-width : 715px) {

  .ltc__bb__way .gridd{
    grid-template-columns: 1fr;
  }

  .ltc__bb__way .gridd img{
    width: 20%;
  }

  .sample__games__img {
    grid-template-columns: repeat(3, minmax(0,1fr));
  }




  .nutshell .videos{
    flex-direction: column;
  }

  .nutshell .videos .left__video{
    margin-right: 0;
    margin-bottom: 16px;
  }

  .footer{
    padding: 32px 5%;
  }
}

@media (max-width :600px) {
  .hero__section p{
    font-size: 32px;
  }

  .hero__section a{
    width: 50%;
  }
  .sample__games__img {
    grid-template-columns: repeat(2, minmax(0,1fr));
  }

  .footer .right__side{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width : 550px) {
  .description{
    width: 95%;
  }

  .how__it__works{
    width: 95%;
  }
}


@media (max-width : 426px) {
  .description{
    width: 100%;
    margin: 32px 0;
  }

  .how__it__works{
    width: 100%;
    margin : 32px 0;
  }

  .description h2{
    font-size: 30px;
  }

  .nutshell{
    padding: 64px 4px;
  }

  .nutshell h2{
    font-size: 24px;
  }

  .convince__box h2{
    font-size: 30px;
  }

  .ltc__bb__way h2{
    font-size: 30px;
  }

  .hero__section{
    padding: 32px;
  }

  .hero__section a{
    width: 80%;
  }

  .description img{
    width: 100%;
  }

  .description img:hover{
    width : 102%;
  }
}

@media (max-width : 400px) {
  .convince__box .images > div {
    margin-bottom: 32px;
  }

  .description h1{
    font-size: 24px;
  }
  .sample__games__img{
    grid-template-columns: 1fr;
  }
}

@media (max-width : 350px) {
  .description{
    padding: 64px 4px;
  }

  .convince__box{
    padding: 64px 0;
  }

  .how__it__works{
    padding: 64px 0;
  }
}
